/**
     Title: site.css
     Author: Megan Walker
     Date: 01/01/2023
     Description: styling for web 330 github pages
*/

/** Required styles listed in the Web 330 HTML, CSS, and JavaScript Requirements document.*/

/** css for class "app-header"*/
.app-header {
    text-align: center;
    font-weight: 400;
    border: none;
    color: inherit;
    background-color: inherit;
}
/** css for class "return-home"*/
.return-home {
    color: #4f3674;
    text-decoration: none;
}
/** css for class "return-home" on hover*/
.return-home:hover {
    color: #4f3674;
    background-color:#d6a800;
}
/** css for class "return-home" on visited*/
.return-home:visited {
    color:#3c275a;
}
.form {
    display: inline-grid;
    grid-template-columns: auto;
}
.form-field {
    padding: 20px;
}
.full-width {
    width: 100%;
}

/** Required styles listed in the Web 330 HTML, CSS, and JavaScript Requirements document Exhibit D.*/

.assign-container {
    padding: 10px;
}

.assign-content {
    width: 600px;
    margin: 3% auto 0;
}

.assign-results-text {
    text-align: center;
    font-size: 28px;
}

/** Required styles listed for Assignment 1 */
#container {
    margin: 50px 100px 0px 100px;
}

 #icon-mode:hover {
    cursor: pointer;
}

#icon-text {
    padding-left: 10px;
}

.pull-right {
    float: right;
}