/**
Title: walker-bobs-auto-repair.css
Author: Megan Walker
Date: 02/01/23
Description: styling specific to bobs-auto-repair.html
*/

/* Style the cart message */
#cart-message {
  float: right;
  color: #DF546A;
  font-size: 12px;
  letter-spacing: 2px;
}

/* Change to pointer on hover */
i:hover {
  cursor: pointer;
}

/* Styling for the custom cart component icon */
cart-component {
  color: var(--card-title-color);
  font-size: 36px;
  margin-left: 45%;
}
.card-content {
width: 60%;
}