/**
Title: walker-future-value.css
Author: Megan Walker
Date: 02/10/23
Description: styling specific to future-value.html
*/


/* set the error text */
.danger {
    float: right;
    color: #DF546A;
    font-size: 12px;
    letter-spacing: 2px;
}

/* modify the label to be inline */
.form-label {
    display: inline-block;
    padding-top: 1rem;
}

/* center the lower error text */
.dangerMessage {
    text-align: center;
}